{% extends 'common/base.html' %}
{% from 'common/macro.html' import pagination_show %}
{% block title %}
    首页
{% endblock %}

{% block page_content %}
    {{ wtf.quick_form(form) }}

    {% for post in posts %}
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="{{ url_for('static', filename='upload/' + post.user.icon) }}" alt="头像" style="width: 64px; height: 64px">
            </a>
          </div>
          <div class="media-body">
              <div style="float:right;">
                  {{ moment(post.timestamp).fromNow() }}
              </div>
            <h4 class="media-heading">{{ post.user.username }}</h4>
            <a href="{{ url_for('main.post_detail', id=post.id) }}">
                {{ post.content }}
            </a>

{#              收藏/取消收藏#}
              {% if current_user.is_authenticated %}
                  <div style="cursor: pointer" class="collect" url="{{ url_for('posts.collect', pid=post.id) }}">{% if current_user.is_favorite(post.id) %}取消收藏{% else %}收藏{% endif %}</div>
              {% endif %}

                ★<div id="fa">{{ post.collect_count }}</div>


          </div>
        </div>
    {% endfor %}

    {{ pagination_show(pagination, 'main.index') }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function(){
            $('.collect').click(function () {
                _this = this
                $.get($(this).attr('url'), function () {
                    if($(_this).text() == '收藏'){
                        $(_this).text('取消收藏')
                    }else {
                        $(_this).text('收藏')
                    }
                })
            })
        })
    </script>
{% endblock %}